<th>{{ game.id }}</th>
<td>{{ game.player1.username }}</td>
<td>{{ game.status.value }}</td>
<td>{{ game.createdAt.format('Y-m-d H:i:s') }}</td>
<td>
    {%  if app.user is not null and game.status.value == 'waiting_for_another_player' %}
        <form action="{{ path('app_game_join', { id: game.id }) }}" method="POST">
            <input class="btn btn-outline-primary" type="submit" value="Join Game">
        </form>
    {% endif %}
</td>