<th>{{ game.id }}</th>
<td>{{ game.player1.username }}</td>
<td>{{ game.status.value }}</td>
<td>{{ game.createdAt.format('Y-m-d H:i:s') }}</td>
<td>
    {% if game.player1 != app.user %}
        <form action="{{ path('app_game_join', { id: game.id }) }}" method="POST">
            <input class="btn btn-outline-primary" type="submit" value="Join Game">
        </form>
    {% endif %}
</td>