{% extends 'base.html.twig' %}

{% block title %}Lobby of the Game {% endblock %}

{% block body %}

    <div
            {{ stimulus_controller('update_lobby', {
                mercureUrl: mercure('http://example.com/update-lobby/' ~ game.id),
                isUserLoggedIn: is_granted('IS_AUTHENTICATED_FULLY')
            }) }}

    >

    {% if game.status.value == 'waiting_for_another_player' or game.status.value == 'placing_ships' or game.status.value == 'in_progress' %}
        <div class="row py-5">

        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th>Player #</th>
                    <th>Username</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Player 1</td>
                    <td>{{ game.player1.username }}</td>
                    <td
                            {{ stimulus_target('update_lobby', 'player1Status') }}
                    >
                        {% if game.status.value == 'waiting_for_another_player' %}
                            Waiting for Player 2...
                        {% elseif game.status.value == 'placing_ships' and game.isPlayerReady(game.player1.id) != true %}
                            The player is ready to place ships.
                        {% elseif game.isPlayerReady(game.player1.id) %}
                            Player 1 has finished placing ships
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Player 2</td>
                    <td
                            {{ stimulus_target('update_lobby', 'player2Username') }}
                    >{{ game.player2 ? game.player2.username }}</td>
                    <td
                            {{ stimulus_target('update_lobby', 'player2Status') }}
                    >
                        {% if game.status.value == 'placing_ships' and game.isPlayerReady(game.player2.id) != true %}
                            The player is ready to place ships.
                        {% elseif game.player2 is not null and game.isPlayerReady(game.player2.id)%}
                            Player 2 has finished placing ships
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endif %}

    <div class="row">
        <div
                {{ stimulus_target('update_lobby', 'lobbyButton') }}
                class="col-12"
        >
            {% if game.status.value == 'placing_ships' and game.isPlayerReady(app.user.id) != true %}
                <a class="btn btn-outline-primary my-3" href="{{ path('app_game_ship_placement', { id: game.id }) }}">
                    Place Your Ships
                </a>
            {% endif %}

            {% if game.status.value == 'in_progress' %}
                <a class="btn btn-outline-primary my-3" href="{{ path('app_game_play', { id: game.id}) }}">
                    Start game
                </a>
            {% endif %}
        </div>
    </div>
        </div>




    {% if game.status.value == 'game_finished' %}
        <div class="row">
            <div class="card" style="width: 30rem;">
                <div class="card-header">
                    Game statistics
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Player 1</strong>: {{ game.player1.username }}</li>
                    <li class="list-group-item"><strong>Player 2</strong>: {{ game.player2.username }}</li>
                    <li class="list-group-item"><strong>Winner</strong>: {{ game.winner.username }}</li>
                    <li class="list-group-item"><strong>Game finished
                            at</strong>: {{ game.finishedAt.format('Y-m-d H:i:s') }}</li>
                </ul>
            </div>
        </div>
    {% endif %}

{% endblock %}