{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <p>Game #{{ game.id }}</p>

    {% if game.winner %}
        <div class="alert alert-success">Winner: {{ game.winner.username }}</div>
    {% endif %}

    <p>Next turn: <strong>{{ game.currentTurn.username }}</strong></p>

    <p>You're playing against <strong>{{ opponent.username }}</strong></p>

    <hr>

    <div class="row">
        <div class="col-md-6">
            <h5>Opponent Board</h5>
            <div {{ stimulus_controller('game', { gameId: game.id}) }}>
                <div class="d-grid gap-0" style="grid-template-columns: repeat(10, 40px); width: 400px;">
                    {% for row in 0..9 %}
                        {% for col in 0..9 %}
                            {% set key = col ~ row %}

                            {% if opponentBoardInfo[key] is defined and opponentBoardInfo[key] == 'hit' %}
                                {% set cellClass = 'bg-danger' %}
                            {% else %}
                                {% set cellClass = 'bg-light' %}
                            {% endif %}

                            <div
                                    {{ stimulus_action('game', 'fire', 'click') }}
                                    class="border text-center {{ cellClass }}"
                                    data-game-x-value="{{ col }}"
                                    data-game-y-value="{{ row }}"
                                    style="height: 40px; line-height: 40px;">
                                &nbsp;
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h5>Your Board</h5>
            <div class="d-grid gap-0" style="grid-template-columns: repeat(10, 40px); width: 400px;">
                {% for row in 0..9 %}
                    {% for col in 0..9 %}
                        {% set key = col ~ row %}

                        {% if yourBoardInfo[key] is defined and yourBoardInfo[key] == 'ship' %}
                            {% set cellClass = 'bg-primary' %}
                        {% elseif yourBoardInfo[key] is defined and yourBoardInfo[key] == 'hit' %}
                            {% set cellClass = 'bg-danger' %}
                        {% else %}
                            {% set cellClass = 'bg-light' %}
                        {% endif %}

                        <div class="border text-center {{ cellClass }}"
                             style="height: 40px; line-height: 40px;">
                            &nbsp;
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <form action="{{ path('app_game_surrender', { id: game.id}) }}" method="POST">
            <button class="btn btn-warning" type="submit">Surrender</button>
        </form>
    </div>




    <h3>Game events</h3>
    <ul>
        <li>Game started</li>
        <li>Enemy battleship sunk</li>
        <li>You attacked: B5 = Miss</li>
        <li>You attacked: B3 = Hit</li>
        <li>Enemy attack received: C6 = Miss</li>
    </ul>


{% endblock %}